/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab li a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab li a.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


/*old code*/


#b1,#b2,#b3,#b4,#b5
{
	text-decoration:none;
	/* text-align:center; */
	float:left;
	height:50px;
	line-height:50px;
	width:100px;
	display:inline-block;
	margin:20px;
	border-radius:2px;
	/* vertical-align:bottom; */
}
#b1 div,#b2 div,#b3 div,#b4 div,#b5 div
{
	height:50px;
	/* display:inline-block; */
	vertical-align:bottom;
}

.fa-chart-bar
{
	font-size:2em;
	/* border:none; */
}
.fa-image{
	font-size:2em;
	/* border:none; */
}

.fa
{
	border-width:0;
}
#b2{
	/* background-image:url("galleryicon.png"); */
	background-size:contain;
	background-repeat:no-repeat;
	
}
#b3
{
}
#leftnav a
{
	text-decoration:none;
}
#rightnav
{
	display:none;
}
./*end old code*/